{% extends "layout.html" %}
{% block title %}Household {{ name }}{% endblock %}
{% block content %}
<p>{{ name }}</p>
<p>Contributors:
{% for nick in contributors %}
{{ nick.nickname }} {% if nick.admin %} ADMIN {% endif %} &ensp;
{% endfor %}
</p>

Tasks:
{% for task in tasks %}
<p>{{ task.name }}: {{ task.description }}</p>
{% endfor %}

<p><a href="/household{{ id }}/createTask">Create new task</a></p>

{% if admin %}
<p><a href="/household{{ id }}/options">Household options</a></p>
{% endif %}

{% endblock %}