{% extends "layout.html" %}
{% block title %}Household {{ name }}{% endblock %}
{% block content %}
<p>{{ name }}</p>
<p>Contributors:
{% for nick in contributors %}
{{ nick.nickname }} {% if nick.admin %} ADMIN {% endif %} &ensp;
{% endfor %}
</p>

Tasks:
<table border = "1">
    <tr>
      <th>Task title</th>
      <th>Description</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
    </tr>
    {% endfor %}
  </table> 

<p><a href="/household{{ id }}/createTask">Create new task</a></p>

{% if admin %}
<p><a href="/household{{ id }}/options">Household options</a></p>
{% endif %}

<form action="/household{{ id }}/edit" method="POST">
    <p>You can remove yourself from this household.
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="action" value="leave">
    <input type="submit" value="Leave {{ name }}"></p>
</form>

{% endblock %}