{% extends "layout.html" %}
{% block title %}Household options{% endblock %}
{% block content %}
{% if admin %}
<h3>Household options</h3>
<h4>Editing {{ name }}</h4>

<form action="/household{{ id }}/edit" method="POST">
    <h5>Add users</h5>
    <p>Here you can add other users to household {{ name }}</p>
    <p>Give their username: <br>
    <input type="text" name="username"></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="action" value="add">
    <input type="submit" value="Add them!">
</form>

<h5>Edit user rights</h5>
<p>Here you can give or take rights from contributors</p>
{% for user in contributors %}
{{ user.nickname }}:
<form action="/household{{ id }}/edit" method="POST">
    <input type="checkbox" name="admin" {{ "checked" if user.admin else "" }}>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="action" value="admin">
    <input type="hidden" name="nick" value="{{ user.nickname }}">
    <input type="submit" value="Give or remove admin rights">
</form>
<form action="/household{{ id }}/edit" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="action" value="remove">
    <input type="hidden" name="nick" value="{{ user.nickname }}">
    <input type="submit" value="Remove from {{ name }}">
</form>
{% endfor %}

<form action="/household{{ id }}/edit" method="POST">
    <h5>Change name</h5>
    <p>Here you can change the household name<br>
    <input type="text" name="name" value="{{ name }}"></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="action" value="rename">
    <input type="submit" value="Rename">
</form>

<a href="/household{{ id }}">Back to household {{ name }}</a>
{% else %}

You need to be household admin to edit household options. <br>
You can ask {{ name }}'s admins to give you admin rights: <br>

{% for user in contributors %}
{% if user.admin %}
- {{ user.nickname }} <br>
{% endif %}
{% endfor %}

{% endif %}

{% endblock %}