<!doctype html>
<title>Housework manager - {% block title %}{% endblock %}</title>
<h2>Housework manager</h2>
<p><a href="/index">Front page</a></p>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<p><a href="/options">Account options</a> 
<a href="/logout">Log out</a></p>
<hr>
{% block content %}{% endblock %}
<hr>

{% else %}
<p>You need to log in to see this page</p>
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>

<a href="/register">New user? Sign up!</a>
{% endif %}