{% extends "layout.html" %}
{% block title %}Household {{ name }}{% endblock %}
{% block content %}
<h3>{{ name }}</h3>
<p>Contributors:
{% for nick in contributors %}
{{ nick.nickname }} {% if nick.admin %} ADMIN {% endif %} &ensp;
{% endfor %}
</p>

Tasks:
<table border = "1">
    <tr>
      <th>Task title</th>
      <th>Deadline</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.deadline }}</td>
      <td>{{ "DONE!" if task.complete }}</td>
      <td><a href="/household{{ id }}/task{{ task.id }}">Go to task</a></td>
    </tr>
    {% endfor %}
  </table> 

<p><a href="/household{{ id }}/createTask">Create new task</a></p>

<br> ----- <br>

{% if admin %}
<p><a href="/household{{ id }}/options">Household options</a></p>
{% endif %}

<br> ----- <br>

<form action="/household{{ id }}/edit" method="POST">
    <p>You can remove yourself from this household.<br>
    {% if last %}
    WARNING. You are the last contributor to this household. If you leave, {{ name }} will be permanently deleted.
    {% elif admin %}
    NOTE: If you are the last admin, this will assign admin rights to a remaining contributor. 
    If you instead want to choose who becomes admin, you can give them admin rights under Household options before leaving.
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="action" value="leave">
    <input type="submit" value="Leave {{ name }}"></p>
</form>

{% endblock %}