{% if session.username %}
<p>You are already logged in as {{ session.username }}. Please log out first.</p>
<a href="/logout">Log out</a>
{% else %}
<form action="/signup" method="POST">
<p>Create new user</p>
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password1"></p>
<p>Repeat password:<br>
<input type="password" name="password2"></p>
<p>Nickname shown in the application:<br>
<input type="text" name="nickname"></p>
<input type="submit" value="Sign up!">
</form>
{% endif %}